body {
    color: #333;
    font-family: 'Lato', sans-serif;

}

.table td, .table th {
   text-align: center;   
}

.pri {padding: 5px; color: #fff; font-size: 0.85em; }
.p1 {background: #E8168B}
.p2 {background: #47C0BE;}
.p3 {background: #CA3A28;}
.p4 {background: #B0D256;}
.p5 {background: #233884;}
.p6 {background: #7CB5D6;}
.p7 {background: #97D3C9;}
.p8 {background: #A01C40;}
.p9 {background: #71BE45;}
.p10 {background: #FCB749;}
.p11 {background: #2DA9E1;}
.p12 {background: #723390;}
.p13 {background: #387195;}
.p14 {background: #C84699;}
.p15 {background: #DEC0CA;}
.p16 {background: #FBE792;}

.table {
    font-size: 0.9em;
}

#total {
    padding-top: 70px;
    text-align: center;
}

#update {
    padding: 10px 0;
    text-align: center;
    color: #999;
}

#segment-title {
    margin-bottom: 15px;
}

.count {
    /*background: #f5f5f5;*/
    font-size: 24px;
    color: #f30;
    border: 1px solid #e3e3e3;
    padding: 8px;
    /*margin: 3px 0 0 0; */
    display: inline-block;
    width: 20px;
    /*min-height: 38px;*/
    text-align: center;
    font-weight: bold;
}

.highlight {
    font-weight: bold;
    color: #f30;
    padding: 0 3px;

}

.section-title {
    background: #f5f5f5;
    padding: 5px;
    margin: 5px 0;
    font-size: 1.5em;
}

.graph-title {
    /*background: #fff;*/
    /*padding: 5px;*/
    /*margin: 5px 0;*/
    /*font-size: 1.5em;*/
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

#summary {
    height: 400px;
    /*border: 1px solid #ccc;*/
}

#footer {
    padding-bottom: 100px;
}

div.graph{
    text-align: center;
	width: 170px;
	height: 150px;
	/*float: left;*/
	/*border: 1px dashed #ccc;*/
}
div.graph > canvas {
    margin-left: 10px;
    z-index: 99;
}

div.legend > table {
    text-align: left;
  /*margin: 0 auto 160px;*/
  /*width: 200px;  */
  /*border: 2px red solid;*/
  top: 180px;
  /*left:50px;*/
}

.hover {
	text-align: center;
    font-size: 0.8em;
    text-align: center;
    /*color: #fff;*/
    /*background: #111;*/
    /*position: absolute;*/
    /*z-index: 100;*/
    /*padding: 5px;*/
    /*opacity: .7;*/
}

}

.d-label {

}

.d-label
{
	width: 80px !important;
	font-size: 7pt;
    text-align: center;
    color: #fff;
    background: #111;
    /*position: absolute;*/
    /*z-index: 100;*/
    padding: 5px;
    opacity: .7;
}
 
    .d-label:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #111;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }
 
/*        .d-label.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #111;
            top: -20px;
            bottom: auto;
        }
 
        .d-label.left:after
        {
            left: 10px;
            margin: 0;
        }
 
        .d-label.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }*/


/* tables */
table.tablesorter {
    /*font-family:arial;*/
    /*background-color: #CDCDCD;*/
    /*margin:10px 0pt 15px;*/
    /*font-size: 8pt;*/
    /*width: 100%;*/
    /*text-align: le
    ft;*/
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    /*background-color: #e6EEEE;*/
    /*border: 1px solid #FFF;*/
    /*font-size: 8pt;*/
    /*padding: 4px;*/
}

table.tablesorter thead tr .header {
    background-image: url(tablesorter/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

/*table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}*/

table.tablesorter thead tr .headerSortUp {
    background-image: url(tablesorter/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(tablesorter/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    /*background-color: #8dbdd8;*/
    background-color: #f30;
    color: #fff;

}
