body, input, select {
    color: #333;
    font-family: 'Lato', sans-serif;
    background: #fff;
}

#sidebar-filter {

}

.accordion-heading {
    /*background: #333;*/
}

table {
	font-size: 12px;
}

#seed {
	opacity: .3
}

.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:250px;
}

.row-fluid > .span-fixed-sidebar {
    margin-left: 290px;
}


/* UN FOOTER */

#footer_un a {
    color:#fff;
} 

#footer_un a:hover {
    text-decoration: none;
} 

#footer_un h3 {
    font-size: 18px;
    border-bottom: dotted 2px #666666;
}

#footer_un {
    -webkit-border-image: none;
    -webkit-box-shadow: rgb(153, 153, 153) 0px 2px 10px 0px;
    background-color: rgb(51, 51, 51);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgb(153, 153, 153) 0px 2px 10px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 14px;
    font-weight: 300;
    height: 362px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 60px;
    vertical-align: baseline;
    padding: 20px
}


.partners-list, .about-list {
    list-style: none;
    margin:0;
}

.partners-list li {
    float: left;
    width: 135px;
    text-align: center;
}

.partners-list span {
    /*float: left;*/
}

#footer {
    padding-bottom: 100px;
}